<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Immutable Ticketing</title>
    {% load static %}
    <link rel="stylesheet" href={% static 'access/style.css'  %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

</head>
{% include 'access/header.html' %}
<body>
    <section class="contactUsSection">
        <div class="container">
            <div class="section-header">
                <h1>Contact Us</h1>
            </div>
                <div id="contactUsBox">
                    <label>Subject</label>
                    <br>
                    <br>
                    <input type="text" placeholder="Type subject here" class="subjectText">
                    <br>
                    <br>
                    <label>Message</label>
                    <br>
                    <br>
                    <textarea placeholder="Type your messeage here" class="messageText"></textarea>
                    <br>
                    <button id="sendBtn">Send</button>
                </div>
            </div>
    </section>
    <script src={% static 'access/script.js' %}></script>

    {% include 'access/footer.html' %}
		<script>
				document.addEventListener("DOMContentLoaded", function() {
					document.querySelector('.contact-page').classList.add('active');
				});
		</script>
</body>

</html>
