<footer class="footer">
    <a href={% url 'home' %} class="home-page"><i class="fas fa-home" style='font-size:24px'></i></a>
    <a href="marketplacePage.html" class="marketplace-page"><i class="fas fa-shopping-basket" style='font-size:24px'></i></a>
    <a href="myTicket.html" class="ticket-page"><i class="fas fa-ticket-alt" style='font-size:24px'></i></a>
    <a href={% url 'profile' %} class="profile-page"><i class="fas fa-user" style='font-size:24px'></i></a>
    <a href={% url 'contactUs' %} class="contact-page"><i class="fas fa-envelope" style='font-size:24px'></i></a>
</footer>	