* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("https://i.ibb.co/WKFhCC8/Screen-Shot-2023-02-24-at-9-17-55-PM.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(1000px);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffff;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.header-icon {
  background-color: #715c9e;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-top: 2px solid #10b491;
}
.header-icon i {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e1e1e0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin-left: 30px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  opacity: 0.5;
}

.menu li a:hover {
  opacity: 1;
}

.menu li a i {
  margin-top: 5px;
  font-size: 20px;
}

.home .location {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: row;
  padding: 7px 8px;
  gap: 6px;
  max-width: 100%;
  height: 36px;

  background: rgba(118, 118, 128, 0.12);
  border-radius: 10px;
}

.home .location img {
  margin-right: 5px;
  width: 20px;
}

.home select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 10px;
  color: #ffff;
}

.home select:focus {
  outline: none;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffff;
}

.section-header h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #ffff;
}

.zones {
  display: flex;
  overflow-x: auto;
  margin-bottom: 60px;
}

.zone-item {
  flex: 0 0 16%;
  margin-right: 20px;
}

.zone-item img {
  border-radius: 20%;
  height: 230px;
  width: 230px;
}

.zone-item img:hover {
  opacity: 0.8;
}

.zone-item:last-child {
  margin-right: 0;
}

.events {
  display: flex;
  flex-wrap: wrap;
}

.event-item {
  flex: 0 0 33.33%;
  margin-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10%;
}

.event-item img {
  border-radius: 10%;
  height: 400px;
  width: 500px;
}

.event-item:hover {
  transform: scale(1.1); /* increase size on hover */
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.event-item:last-child {
  margin-right: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  /*background-image: url("https://i.imgur.com/kHFXYWP.png"); */
  /*background-position: center; /* Center the image */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover; /* Resize the background image to cover the entire container */
  background-image: linear-gradient(
    to right,
    #7311b6,
    #951cb3,
    #b12cb1,
    #c83faf,
    #dc53af
  );
  font-size: 1.2rem;
  margin-top: 50px;
  position: sticky;
  bottom: 0;
  height: 80px;
  z-index: 10;
}

.footer a.active i {
  background-color: #901ab3;
  border-radius: 50%;
  padding: 28px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-18px);
}

.event img {
  border-radius: 5px;
  width: 1500px;
  height: 500px;
}

.event-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  max-width: 100%;
  margin: auto;
}

.event-details h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.event-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-details ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.event-details ul li i {
  margin-right: 10px;
  font-size: 18px;
}

.event-details p {
  margin-top: 20px;
}

#checkoutBtn {
  margin-top: 100px;
  padding: 10px 20px;
  background: rgb(255, 83, 175);
  background: linear-gradient(
    90deg,
    rgba(255, 83, 175, 1) 0%,
    rgba(115, 17, 182, 1) 89%
  );
  width: 300px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#checkoutBtn:hover {
  transform: scale(1.1); /* increase size on hover */
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 480px) {
  .event-details {
    padding: 10px;
  }

  .event-details h2 {
    font-size: 20px;
  }

  .event-details ul li i {
    font-size: 16px;
  }

  .event-details button {
    font-size: 14px;
  }
}

.checkout {
  margin-bottom: 400px;
}

.event-checkout {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  max-width: 100%;
  margin: 50px 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dates {
  display: flex;
  overflow-x: auto;
  margin-bottom: 20px;
}

.date {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  white-space: nowrap;
  width: 90px;
  height: 60px;
  cursor: pointer;
}

.date:hover {
  background: rgb(255, 83, 175);
  background: linear-gradient(
    170deg,
    rgba(255, 83, 175, 1) 0%,
    rgba(115, 17, 182, 1) 89%
  );
}

.selected {
  background: rgb(255, 83, 175);
  background: linear-gradient(
    170deg,
    rgba(255, 83, 175, 1) 0%,
    rgba(115, 17, 182, 1) 89%
  );
}

.times {
  margin-bottom: 20px;
  display: flex;
  overflow-x: auto;
  margin-bottom: 20px;
}

.time {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  white-space: nowrap;
  width: 90px;
  height: 40px;
  cursor: pointer;
}

.time:hover {
  background: rgb(255, 83, 175);
  background: linear-gradient(
    170deg,
    rgba(255, 83, 175, 1) 0%,
    rgba(115, 17, 182, 1) 89%
  );
}

.ticketscheckout {
  margin-bottom: 20px;
}

.quantity button {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.quantity button:hover {
  transform: scale(1.1); /* increase size on hover */
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  background: rgb(255, 83, 175);
  background: linear-gradient(
    170deg,
    rgba(255, 83, 175, 1) 0%,
    rgba(115, 17, 182, 1) 89%
  );
}

.quantity span {
  font-size: 24px;
  font-weight: bold;
}

.total {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

#total {
  font-weight: normal;
}

.tickets {
  display: flex;
  flex-wrap: wrap;
}

.ticket-item {
  flex: 0 0 29.68%;
  margin-bottom: 50px;
  position: relative;
  display: inline-block; /* Set display to inline-block to allow for the div to be positioned above the image */
  overflow: hidden;
  margin: 0 25px;
  margin-bottom: 50px;
  border-radius: 10%;
}

.ticket-item div {
  background-color: #1d093e;
  color: #c2c2c2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  z-index: 1; /* Set z-index to a value higher than the image to ensure that the overlay is positioned above the image */
  padding: 0 20px;
}

.ticket-item img {
  border-radius: 10%;
  height: 400px;
  width: 500px;
}

.ticket-item:hover {
  transform: scale(1.1); /* increase size on hover */
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.myProfileSection {
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 250px;
}

#myProfileName {
  font-size: 24px;
}

#myProfileEmail {
  font-size: 16px;
  color: #a09cb5;
}

#labelBalance {
  font-size: 22px;
  color: #a09cb5;
}

#labelCurr {
  font-size: 22px;
  color: #a09cb5;
}

#myProfileBalance {
  font-size: 22px;
  color: #fff;
}

#addBtnDiv {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid;
  border-color: #b6016f;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}

#labelMoney {
  color: #a09cb5;
  font-size: 16px;
}

#addBtnDiv:hover {
  transform: scale(1.1); /* increase size on hover */
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.contactUsSection,
.loginSection {
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 350px;
}

#sendBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background: rgb(255, 83, 175);
  background: linear-gradient(
    90deg,
    rgba(255, 83, 175, 1) 0%,
    rgba(115, 17, 182, 1) 89%
  );
  width: 300px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

#sendBtn:hover {
  transform: scale(1.1); /* increase size on hover */
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

#contactUsBox {
  text-align: left;
  margin: 0 auto;
  width: 500px;
}

#contactUsBox input {
  width: 100%;
  border: none;
  color: #ccc;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

#contactUsBox textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  color: #ccc;
  height: 250px;
}

#toNafathBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #039c8e;
  width: 300px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#toNafathBtn:hover {
  opacity: 0.5;
}

.loginSection p {
  text-align: center;
}

#MetaMaskBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #e05802;
  width: 300px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#MetaMaskBtn:hover {
  opacity: 0.5;
}

#loginToWebsite {
  margin-top: 20px;
  padding: 10px 20px;
  background: rgb(255, 83, 175);
  background: linear-gradient(
    90deg,
    rgba(255, 83, 175, 1) 0%,
    rgba(115, 17, 182, 1) 89%
  );
  width: 300px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#loginToWebsite:hover {
  opacity: 0.5;
}
