<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Immutable Ticketing</title>
		{% load static %}
		<link rel="stylesheet" href={% static 'marketplace/style.css' %}>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
	</head>
	{% include 'access/header.html' %}
	<body>
		<section class="event">
			<div class="container">
				<div class="section-header">
                    <br>
                    <img src="{{ event.token_URI }}" alt="Event Picture">
                </div>
                <div class="event-details">
                    <h2>{{ event.name }}</h2>
                    <ul>
                      <li><i class="fas fa-calendar-alt"></i>Date: {{ event.start_date_day }} {{ event.start_date_month }} {{ event.start_date_year }} - {{ event.end_date_day }} {{ event.end_date_month }} {{ event.end_date_year }}</li>
                      <li><i class="fas fa-clock"></i>Time: {{ event.start_date_hour }} - {{ event.end_date_hour }}</li>
                      <li><i class="fas fa-map-marker-alt"></i>Location: {{ event.location }} </li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel quam ac odio ullamcorper imperdiet. Etiam ut nisl ligula. Donec aliquam, justo in venenatis lacinia, arcu nisi dictum orci, sit amet sagittis nunc sapien eu purus. </p>
                    <a type = "button" id="checkoutBtn" href= {% url 'event_tickets' event.contract_address %}>Book Now</a>
                  </div>
                  <br>
                  <br>
            </section>
			{% include 'access/footer.html' %}
			<script>
				document.addEventListener("DOMContentLoaded", function() {
					document.querySelector('.marketplace-page').classList.add('active');
				});
			</script>			  
        </body>
    </html>
