<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Immutable Ticketing</title>
		{% load static %}
		<link rel="stylesheet" href={% static 'marketplace/style.css' %}>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
	</head>
	<body>
		{% include "access/header.html" %}
		<section class="home">
			<div class="container">
				<div class="section-header">
					<h1>Choose Event</h1>
				</div>

				<div class="section-header">
					<h2>Events</h2>
				</div>
				<div class="events">
					{% for event in events %}
					<div class="event-item">
						
							<a href={% url 'event' event.contract_address %}>
								<img src="{{ event.token_URI }}"
									 alt="Event 1">
							
						</a>
					</div>
				{% endfor %}
				</div>				
                </div>
            </section>
			{% include "access/footer.html" %}
			<script src={% static "marketplace/script.js" %}></script>
			<script> // add cicle to current page navbar
				document.addEventListener("DOMContentLoaded", function() {
					document.querySelector('.home-page').classList.add('active');
				});
			</script>		
        </body>
    </html>
    
