<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Immutable Ticketing</title>
        {% load static %}
        <link rel="stylesheet" href={% static 'marketplace/style.css' %}>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
              rel="stylesheet">
    </head>
    {% include 'access/header.html' %}
    <body>
        <section class="home">
            <div class="container">
                <div class="section-header">
                    <h1>Choose Ticket</h1>
                </div>
                <div class="section-header">
                    <h2>Events</h2>
                </div>
                <div class="zones">
                    {% for event in events %}
                        <div class="zone-item">
                            <a href="#">
                                <a href={% url 'marketplace' event.contract_address %}>
                                    <img src="{{ event.token_URI }}" alt="Event 1">
                                </a>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="section-header">
                    <h2>Marketplace Tickets</h2>
                </div>
                <div class="tickets">
                    {% for ticket in tickets %}
                        {% if ticket.on_sale %}
                            <div class="ticket-item">
                                <a href="{% url 'single_ticket' ticket.contract_address ticket.ticket_index %}">
                                    <img src="{{ ticket.token_URI }}" alt="Event 7">
                                </a>
                                <div class="ticketInfo">
                                    <h4>
                                        {{ ticket.name }}
                                    </h6>
                                    <span>{{ ticket.start_date }}</span>
                                    <br>
                                    <span>{{ ticket.price }} Ether</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <script src={% static 'access/script.js' %}></script>
        <script>
				document.addEventListener("DOMContentLoaded", function() {
					document.querySelector('.marketplace-page').classList.add('active');
				});
		
        </script>
    </body>
    {% include "access/footer.html" %}
</html>
