<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Immutable Ticketing</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>

<body>
	<section class="checkout">
		<div class="container">
			<div class="event-checkout">
				<h2>Event Title</h2>
				<div class="dates">
					<div class="date">Dec <br>7</div>
					<div class="date">Dec <br>8</div>
					<div class="date">Dec <br>9</div>
					<div class="date">Dec <br>10</div>
					<div class="date">Dec <br>11</div>
					<div class="date">Dec <br>12</div>
					<div class="date">Dec <br>13</div>
				</div>
				<div class="times">
					<div class="time">4:00 PM</div>
				</div>
				<div class="ticketscheckout">
					<h3>Entry Ticket - (Max 10)</h3>
					<h3>55.00 SAR</h3>
					<div class="quantity">
						<button id="minus">-</button>
						<span id="quantity">1</span>
						<button id="plus">+</button>
					</div>
					<div class="total">
						Total: <span id="total">55.00 SAR</span>
					</div>
					<button id="checkoutBtn">Connect Wallet</button>
				</div>
	</section>
	<script src="script.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".date").click(function () {
				// Remove "selected" class from all clickable divs
				$(".date").removeClass("selected");

				// Add "selected" class to the clicked div
				$(this).addClass("selected");
			});

			$(".time").click(function () {
				// Remove "selected" class from all clickable divs
				$(".time").removeClass("selected");

				// Add "selected" class to the clicked div
				$(this).addClass("selected");
			});
		});
	</script>
</body>

</html>
