<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Immutable Ticketing</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul class="menu">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="#"><i class="fas fa-shopping-basket"></i> Marketplace</a></li>
                    <li><a href="#"><i class="fas fa-ticket-alt"></i> My Ticket</a></li>
                    <li><a href="#"><i class="fas fa-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="fas fa-phone"></i> Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="contactUsSection">
        <div class="container">
            <div class="section-header">
                <h1>Contact Us</h1>
            </div>
                <div id="contactUsBox">
                    <label>Subject</label>
                    <br>
                    <br>
                    <input type="text" placeholder="Type subject here" class="subjectText">
                    <br>
                    <br>
                    <label>Message</label>
                    <br>
                    <br>
                    <textarea placeholder="Type your messeage here" class="messageText"></textarea>
                    <br>
                    <button id="sendBtn">Send</button>
                </div>
            </div>
    </section>
    <script src="script.js"></script>

    <script>

    </script>
    <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-logo">
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Marketplace</a></li>
                        <li><a href="#">My Ticket</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer-bottom">
                <p>&copy; 2023 Immutable Ticketing System Using Blockchain Technology. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>