<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Immutable Ticketing</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="container">
				<nav>
					<ul class="menu">
						<li><a href="#"><i class="fas fa-home"></i> Home</a></li>
						<li><a href="#"><i class="fas fa-shopping-basket"></i> Marketplace</a></li>
						<li><a href="#"><i class="fas fa-ticket-alt"></i> My Ticket</a></li>
						<li><a href="#"><i class="fas fa-user"></i> My Profile</a></li>
						<li><a href="#"><i class="fas fa-phone"></i> Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section class="event">
			<div class="container">
				<div class="section-header">
                    <br>
                    <img src="https://s3.ticketmx.com/uploads/images/e65ef2b8e01ccff97a6826b38b48dcbf6b73fe92.png?w=1920&h=700&mode=crop&bgcolor=black&format=jpg" alt="Event Picture">
                </div>
                <div class="event-details">
                    <h2>Event Title</h2>
                    <ul>
                      <li><i class="fas fa-calendar-alt"></i>Date: 22 October 2022 - 22 December 2022</li>
                      <li><i class="fas fa-clock"></i>Time: 7:00 PM - 10:00 PM</li>
                      <li><i class="fas fa-dollar-sign"></i>Price: 20.00 SAR</li>
                      <li><i class="fas fa-map-marker-alt"></i>Location: 123 Main St, Anytown USA</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel quam ac odio ullamcorper imperdiet. Etiam ut nisl ligula. Donec aliquam, justo in venenatis lacinia, arcu nisi dictum orci, sit amet sagittis nunc sapien eu purus. </p>
                    <button id="checkoutBtn">Book Now</button>
                  </div>
                  <br>
                  <br>
            </section>
            <script src="script.js"></script>
			<footer class="footer">
				<div class="container">
				  <div class="footer-top">
					<div class="footer-logo">
					</div>
					<div class="footer-links">
					  <ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Marketplace</a></li>
						<li><a href="#">My Ticket</a></li>
						<li><a href="#">My Profile</a></li>
						<li><a href="#">Contact Us</a></li>
					  </ul>
					</div>
					<div class="footer-social">
					  <ul>
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
					  </ul>
					</div>
				  </div>
				  <hr>
				  <div class="footer-bottom">
					<p>&copy; 2023 Immutable Ticketing System Using Blockchain Technology. All rights reserved.</p>
				  </div>
				</div>
			  </footer>			  
        </body>
    </html>