<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Immutable Ticketing</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<section class="event">
			<div class="container">
				<div class="section-header">
                    <br>
                    <img src="https://s3.ticketmx.com/uploads/images/e65ef2b8e01ccff97a6826b38b48dcbf6b73fe92.png?w=1920&h=700&mode=crop&bgcolor=black&format=jpg" alt="Event Picture">
                </div>
                <div class="event-details">
                    <h2>Event Title</h2>
                    <ul>
                      <li><i class="fas fa-calendar-alt"></i>Date: 22 October 2022</li>
                      <li><i class="fas fa-clock"></i>Time: 7:00 PM </li>
                      <li><i class="fas fa-dollar-sign"></i>Price: 20.00 SAR</li>
                      <li><i class="fas fa-map-marker-alt"></i>Location: 123 Main St, Anytown USA</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel quam ac odio ullamcorper imperdiet. Etiam ut nisl ligula. Donec aliquam, justo in venenatis lacinia, arcu nisi dictum orci, sit amet sagittis nunc sapien eu purus. </p>
                    <button id="checkoutBtn">Connect Wallet</button>
                  </div>
                  <br>
                  <br>
            </section>
            <script src="script.js"></script>		  
        </body>
    </html>
